body{
    background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.game{
    background: #ffffff;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

h1{
    color: #ff5722;
}

#word{
    color: #2196F3;
    font-size: 32px;
    font-weight: bold;
}

input{
    border: 2px solid #4CAF50;
    border-radius: 8px;
    padding: 10px;
}

button{
    background: #ff9800;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
}

button:hover{
    background: #e68900;
}
